<%- include('header') %>
    <h2>Admin:</h2>
        <div>
            <ul>
                <li><a href="/admin/categorias">Gerenciar categorias</a></i>
                <li><a href="/admin/vagas">Gerenciar vagas</a></i>
            </ul>

        </div>
<%- include('footer') %>
    
    